html,
body {
  font-family: Helvetica, 'Catamaran', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

.left {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}


.right {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}



.left {
  color: #ffffff;
  width: 40%;
  height: 100%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: fixed;
}

.left .bg-img {
  background: url('./img/headshot1-bw.png') center no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left .bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #185a9d;
  background-image: linear-gradient(to right top, #537895, #8996ad);
  opacity: 0.85;
}

.left-inner,
.right-inner {
  padding: 25px;
}


.left-inner {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  min-height: 24em;
  height: 100%;
}

.left .info {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  margin-top: 50%;
  margin: 0 auto;
}



.left .info .name {
  font-size: 50px;
  font-weight: 900;
  margin: 15px;
}

.left .info .profession {
  font-size: 16px;
  font-weight: 400;
}


.left .info .social-links {
  margin-top: 20px;
}

.left .info .fa {
  margin: 10px;
  font-size: 30px;
  color: #fff;
}



.left .info {
  flex: none;
  position: relative;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

.right {
  float: right;
}


.right h4,
.right .content {
  display: inline-block;
  vertical-align: top;
}

.right h4 {
  width: 20%;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #2A54F5;
  background-image: -webkit-linear-gradient(45deg, #2A54F5 0%, #537895 100%);
  background-image: linear-gradient(45deg, #2A54F5 0%, #537895 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right ul {
  padding: 0;
  margin: 0;
}

.right .content {
  width: 70%;
  padding: 0;
  margin: 0 0 20px;
  font-weight: 300;
  line-height: 1.5;
}

.right .content ul.description {
  padding-left: 20px;
  margin-top: 5px;
  font-size: 15px;
}

.right .introduction .intro-p:first-of-type {
  margin-top: 0;
}

.right .introduction .job-plz {
  font-weight: 700;
  background-color: #2A54F5;
  background-image: linear-gradient(45deg, #2A54F5 0%, #ff758c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #2A54F5 0%, #ff758c 100%);
  display: inline-block;
}

.right .skills .skill-category {
  margin-bottom: 10px;
}

.right .skills .skill-category:last-of-type {
  margin-bottom: 0px;
}

.right .skills .skill-category>strong {
  text-transform: uppercase;
  font-size: 14px;
}

.right .education {
  font-size: 16px;
}

.right .education .edu-institution {
  font-weight: 700;
  font-size: 16px;
}

.right .education .edu-program {
  font-weight: 700;
  font-style: italic;
  margin-bottom: 5px;
}

.right .education .edu-description {
  margin-bottom: 30px;
}

.right .education .edu-description>strong {
  font-size: 14px;
}

.right .education {
  margin-top: 10px;

}


.right .experience .exp-item {
  margin-bottom: 30px;
}

.right .experience .exp-item:last-of-type {
  margin-bottom: 0;
}

.right .experience .exp-item .job {
  margin: 0;
  font-weight: 700;
}

.right .experience .exp-item .duration {
  font-size: 12px;
  font-weight: 500;
  float: right;
  color: rgb(141, 131, 131);
  position: relative;
  top: 3px;
}



.right .experience .exp-item .title {
  font-weight: 700;
  font-style: italic;
}




@media screen and (max-width: 1000px) {

  .left .info .name {
    font-size: 35px;
    margin: 10px;
  }

  .left .info .profession {
    font-size: 12px;
  }


}

/* Tablet */
@media screen and (max-width: 800px) {

  .left {
    height: 100%;
  }

  .left,
  .right {
    display: block;
    width: 100%;
  }

  .left {
    position: static;

  }

  .left .info .name {
    font-size: 30px;
    margin: 5px;
  }

  .left .info .profession {
    font-size: 12px;
  }

  .right h4,
  .right .content {
    display: block;
    vertical-align: top;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 750px) {}

/* Mobile */

@media screen and (max-width: 450px) {
  .left-inner {
    min-height: 15em;
  }


  .left-inner,
  .right-inner {
    padding: 15px;
  }
}


@media screen and (max-width: 340px) {
  .right .experience .exp-item .duration {
    float: none;
  }
}